<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="MemberTableDB" connectionString="Server=DESKTOP-PE89195;database=mydb;uid=root;pwd=qudwns12"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <add key="addr" value="net.tcp://127.0.0.1:6555/Chating"/>
  </appSettings>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="FileServiceBehavior" name="WbService.MainService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="DuplexBinding" contract="WbService.IAiService"/>
        <host>
          <baseAddresses>
            <add baseAddress="http://127.0.0.1:7555/GetService"/>
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <netTcpBinding>
        <binding name="DuplexBinding" maxBufferSize="2147483647" maxConnections="100" maxBufferPoolSize="524288" maxReceivedMessageSize="2147483647">
          <reliableSession enabled="true"/>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="FileServiceBehavior">
          <serviceMetadata httpGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>
